:root {
  --font-family: arial, helvetica, sans-serif;
  --font-color: rgba(0, 0, 0, 0.685);
  --button-background-color: transparent;
  --button-font-color: rgba(0, 0, 0, 0.712);
  --button-font-size: 1.5em;
}

button {
  font-family: var(--font-family);
  background-color: var(--button-background-color);
  color: var(--button-font-color);
  border-radius: 4px;
  border: 2px inset rgba(128, 128, 128, 0.507);
  font-size: var(--button-font-size);
  font-weight: 600;
  cursor: pointer;
  margin:16px;
}
